doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript').
            //var myText =  "serkan";
            //console.log(myText);
    body
        h1= message
        block content
        script(type='text/javascript' src='/jquery/dist/jquery.js')
