extends layout.pug
block content
    #login.col-xs-4.col-xs-offset-4
        h4 LogIN Room
        form.form-horizontal(method='POST' action='/userControl')
            div.form-group
                input#email.form-control(type='email', placeholder='emailaddress', name='email')
            div.form-group
                input#nick.form-control(type='text', placeholder='nickname', name='nick')
            button.btn.btn-primary.btn-xs(type='submit', value='logIN', class='pull-right') LogIN

