body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#CCC;
}

a {
  color: #00B7FF;
}

.col-sm-paddingZero{
	padding:0px;
}

.special-margin-bottom-margin{
	margin-bottom: 20px;
}

.special-alert-message {
    width: fit-content;
    padding: 5px;
    margin-bottom:4px;
}

.message-area{
	border-radius: 5px;
    position: fixed;
    bottom: 10px;
    width:58%;
}

.message-list-block-height{
	height: -webkit-fill-available;
}

.small-text{
	margin-top:5px;
	font-size:8px;
}

a{cursor: pointer;}